body{
    display:flex;
    flex-wrap: wrap;
    
}

header{
    display:flex;
    background-color: #A8DAB5;
    /*position: relative;*/
    width:100%;
    box-shadow: 10px 5px 5px black;
    
}

nav>ul{
    display:flex;
    /*margin-top: 2em;*/
    justify-content:center;
}
nav>ul>a{
    display:flex;
    list-style:none;
    text-decoration: none;
    
}

nav>ul>a>li{
    margin: 2rem;
    padding: .5em;
    font-size: 25px;

}

#content{
    
display:flex;
    justify-content:space-between;
}

.logo{
    display:flex;
}


/*footer{*/
/*    margin-bottom: 2rem;*/
    
/*}*/

section>ul{
    display:flex;
    flex-direction:column;
    list-style:none;
    align-items:start;
    background-color:black;
    box-shadow: 10px 5px 5px #A8DAB5;

}

.sec1>ul>a{
        justify-content:space-between;
        text-decoration:none;
        margin: 2rem;
        color:#fff;

}

h1{
    margin-left:2em;
}
.article1{
    display:flex;
}

.article1>img{
    width:30%;
}

.article1>p{
    margin-left:2em;
    
}
